* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: wheat;
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  justify-content: space-between;
}
div {
  height: 100%;
  width: 33%;
  /* border: solid 5px black; */
}
#timer {
  color: purple;
}
#quiz {
  background-color: whitesmoke;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#title {
  display: flex;
  justify-content: center;
}
#choices {
  display: flex;
  flex-direction: column;
}

#timer {
  display: flex;
  justify-content: center;
}

#highscore {
  display: flex;
  justify-content: center;
}
#score {
  display: flex;
  justify-content: center;
}
